<!-- <div class="row">
  <div class="col-sm-6 offset-3">
    <div class="text-center">
      <h4>Login</h4>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label><br>
        <input type="text" formControlName="username"
          class="form control"
          [ngClass]="{'is-invalid': userForm.get('username').errors && userForm.get('username').touched }"
          id="username"
          placeholder="Username" />

          <div class="invalid-feedback" *ngIf="userForm.get('username').hasError('required')">
            Username is required.
          </div>
          <div class="invalid-feedback" *ngIf="userForm.get('username').hasError('minlength')">
            Username needs to be atleast 3 characters.
          </div>

      </div>


      <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" formControlName="password"
          class="form control"
          [ngClass]="{'is-invalid': userForm.get('password').errors && userForm.get('password').touched }"
          id="password"
          placeholder="password" />

          <div class="invalid-feedback" *ngIf="userForm.get('password').hasError('required')">
            Password is required.
          </div>

      </div>


      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label><br>
        <input type="password" formControlName="confirmPassword"
          class="form control"
          id="confirmPassword"
          placeholder="Confirm Password" autocomplete>
      </div>


      <section formGroupName="address">
        <div class="form-group">
          <label for="inputStreet">Street</label>
          <input type="text" formControlName="street" class="form-control" id="inputStreet" placeholder="1234 Main St">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputHouseNumber">House Number</label>
            <input type="text" formControlName="houseNumber" class="form-control" id="inputHouseNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCity">City</label>
            <input type="text" formControlName="city" id="inputCity" class="form-control">
          </div>
          <div class="form-group col-md-2">
            <label for="inputPostalCode">Post Code</label>
            <input type="text" formControlName="postalCode" class="form-control" id="inputPostalCode">
          </div>
        </div>
      </section>


      <p>
        <button class="btn btn-success"
          type="submit">Login</button>
        <button class="btn btn-warning" (click)="clear()">Clear</button>
      </p>
    </form>


  </div>
</div> -->

<div class="login-page">

  <div class="card-container">

    <div class="card w-50">
      <div class="card-header text-center">
        <H3>Login</H3>
      </div>
      <div class="card-body">
        
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6 offset-md-3 mt-4">
              <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="loginUsername">Username</label>
                    <input name="username" type="text" 
                      formControlName="username"
                      [ngClass]="{'is-invalid': loginForm.get('username').errors && loginForm.get('username').touched }"
                      class="form-control" id="loginUsername" 
                      placeholder="Enter Username..." required>
                    
                    <div class="invalid-feedback" *ngIf="loginForm.get('username').hasError('required')">
                      Username is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="loginForm.get('username').hasError('minlength')">
                      Username needs to be atleast 3 characters.
                    </div>
      
                  </div>
      
                  <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input name="password" type="password" 
                    formControlName="password"
                    [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched }"
                    class="form-control" id="loginPassword" 
                    placeholder="Enter Password..." required>
      
                    <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('required')">
                      Password is required.
                    </div>
                  </div>
      
                  <div class="form-group">
                    <a [routerLink]="['reset-password']">Forgot Password?</a>
                  </div>
                  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
                    Login <i class="fa fa-lock"></i>
                  </button>
                  <button class="btn btn-warning" (click)="clear()">
                    Clear
                  </button>
                </form>
          </div>
      </div>
        
      </div>
    </div>
  
  
  </div>
  


</div>
