input.ng-invalid.ng-touched {
    border-left: 5px solid #a94442;
  }

// .card-header{
//     background-color: #303030;
// }

.card {
    margin: 0 auto;
    margin-top: 0px;
    background-color: rgba(126, 123, 215, 0.2);
}

.login-page{
    height: 100vh;
    width: 100vw;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.card-container{
    position: relative;
    padding: 250px 0px;
}

.login-form label{
    color: #ffffff;
}

.card-header h3{
    color: #ffffff;
}